body {
  position: relative;
}

.spot-image {
  top: 915px;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.spot-articles-bg {
  right: 0;
  top: 4424px;
  z-index: -1;

}

.spot-footer-top-bg {

  right: 70px;
  z-index: 2;
  bottom: 370px;

}

.main-container-page {
  padding-top: 40px;
}

.line {
  width: 56px;
  height: 2px;
  background: #000000;
  border-radius: 5px;
}

h2 {
  font-weight: bold;
  font-size: 3rem;
  line-height: 3.5rem;
}

h3 {
  font-size: 2.25rem;
  line-height: 3.5rem;
  font-weight: bold;
}

.btn {
  white-space: nowrap;
  padding: 0.5rem 2.5rem;
}
.btn-more {
  padding-left: 3.125rem;
  padding-right: 3.125rem;
}


.card {
  max-width: 350px;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0);
  margin: 1rem;
}

.card-body {
  padding: 2.55rem 2.2rem 2.91rem
}

header {
  max-width: 1260px;

  .navbar {
    .navbar-brand {
      font-weight: bold;
      line-height: 2.875rem;
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  .navbar-nav {
    .nav-item {
      &:not(:last-of-type) {
        margin-right: 1.55rem;
      }
    }

    .active > .nav-link {
      font-weight: bold;
    }
  }


}

.consulting-today {

  margin-bottom: 12.1rem;
  position: relative;
  max-width: 1270px;

  .consult-block {
    padding-top: 10.7rem;

    h2 {
      margin-bottom: 1.56rem;

    }

    .text-consult-block {
      margin-bottom: 3rem;
      font-size: 1.31rem;
      line-height: 2rem;
      font-weight: 300;
    }
  }

  .circle-image.position-absolute {
    left: -173px;
    top: 50px;
  }

  .image-consulting-block {
    padding-top: 4.2rem;
    padding-left: 2.5rem;
  }
}

.services {

  margin-bottom: 5rem;

  .name-section {
    margin-bottom: 1.5rem;
    /*padding-left: 15px;*/
  }

  .line-section {
    margin-bottom: 2.06rem;
    padding-left: 0.95rem;

  }

  .description-services {
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.875rem;
    /*margin-left: 146px;
    margin-right: 133px;*/
  }
}

.container-cards-services {
  margin-bottom: 2.1rem;
  position: relative;

  .circle-image-services {
    right: 3px;
    top: 261px;
  }

  .card-area {
    margin-bottom: 2.5rem;
    display: flex;
    justify-content: center;

    .card-body {
      padding-top: 0.25rem;
    }

  }

  .circle-image-services img {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .container-image-card {
    padding-top: 1.3rem;
    $container-image-height: 175px;
    flex-basis: $container-image-height;
    min-height: $container-image-height;
    max-height: $container-image-height;
    padding-left: 2.2rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .search-image {
      max-height: 90px;
    }
  }

  .consultation-image {
    height: 95px;
    width: 68px;

  }

  .pharmacy-image {
    height: 85px;
    width: 62px;

  }

  .info-image {
    max-height: 95px;
    width: 68px;
  }

  .care-image {
    width: 80px;
    height: 72px;
  }

  .tracking-image {
    width: 70px;
    height: 95px;

  }

  .card-title {
    font-weight: bold;
    font-size: 1.5rem;
  }

  .card-text {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.75rem;
  }

}


.btn-view-more-services {
  margin-bottom: 13.75rem;
  /*margin-left: 15px;*/
  .btn-more.btn-more-small {
    padding-left: 4.125rem;
    padding-right: 4.125rem;
  }

}

.providers-learn {
  margin-bottom: 10rem;

  .position-absolute.circle-img-after-providers {
    /*right: -187px;
    bottom: -60px;*/
  }
  .image-providers {
    max-width: 650px;

  }

  .info {
    padding-left: 9.8rem;
    padding-right: 4.5rem;
    padding-top: 3.6875rem;

    .title-providers-block {
      margin-bottom: 1.6rem;
      font-size: 2.25rem;
      line-height: 3.5rem;
      font-weight: bold;
    }

    .line {
      border-radius: 0.625rem;
      margin-bottom: 2rem;
    }

    .text-providers-block {
      font-weight: 300;
      line-height: 1.87rem;
      margin-bottom: 2.65rem;
    }
  }

}

.download-app {
  margin-bottom: 16.5rem;

  .block-text-download {
    padding-left: 7.62rem;
    padding-right: 4rem;
    padding-top: 6.7rem;


    .title-download-block {
      font-weight: bold;
      font-size: 2.25rem;
      margin-bottom: 1.87rem;
      line-height: 3rem;
    }

    .line {
      margin-bottom: 1.87rem;
      border-radius: 6px;
    }

    .text-download-block {
      font-weight: 300;
      line-height: 1.875rem;
      margin-bottom: 2.65rem;
    }
    .block-text-download {
      padding-left: 7.62rem;
      padding-right: 4rem;
      padding-top: 5rem;
    }

    .btn-download-app {
      &:hover {
        .arrow-download {
          path {
            fill: $white;
          }
        }
      }
    }
  }
  .block-image-project-download {
    max-width: 665px;
    /*margin-left: -37px;*/
    padding-top: 71px;
  }
  }


.customer {

  position: relative;

  .area-customer-say {
    padding: 4rem 7.3rem 4.5rem;
    margin-bottom: 2.625rem;
    position: relative;
    background: linear-gradient(191.49deg, #67C3F3 9.05%, #5A98F2 76.74%);
    border-radius: 1.5rem;
    max-width: 1115px;
    z-index: 2;
    margin-left: auto;
    margin-right: auto;

    .circle-right-customer {
      right: -48px;
      top: -15px;
    }

    .text-question-block-customer {
      font-weight: bold;
      font-size: 2.25rem;
      line-height: 3rem;
      color: $white;
      margin-bottom: 1.56rem;
      text-align: center;
    }

    .line {
      background: $white;
      border-radius: 6px;
      margin-bottom: 4.2rem;
    }
  }

  .circle-left-customer {
    left: 5px;
    bottom: 111px;
    z-index: 1;
  }
}

.comment {
  padding: 1rem;
  .card-person {
    flex-basis: 50%;
    align-items: center;


    .foto {
      margin-right: 2rem;
      width: 133px;
      height: 133px;
      border-radius: 50%;
      .foto-user-comment {
        border: 4px solid white;
        box-sizing: border-box;
        border-radius: 50%;
      }
    }

    .person-info {
      flex-direction: column;

      .name-person {
        font-weight: bold;
        font-size: 1.375rem;
        color: $white;
      }

      .name-profession {
        font-weight: normal;
        font-size: 1.125rem;
        color: rgba(255, 255, 255, 0.85);
      }

    }

  }

  .person-comment {
    flex-basis: 50%;
    font-weight: normal;
    font-size: 1.1875rem;
    line-height: 1.875rem;
    color: rgba(255, 255, 255, 0.9);
    padding-top: 0.5rem;

  }
}

.section-articles {
  .name-section {
    font-size: 2.25rem;
    margin-bottom: 1.8rem;
    line-height: 3rem;
  }

  .line-section {
    margin-bottom: 4.93rem;
  }

}

.container-articles {
  margin-bottom: 4.5rem;
  position: relative;

  .circle-image {
    top: -50px;
    left: -33px;
  }

  .card {
    .container-image-card {
      border-radius: 20px 20px 0 0;
    }

    .card-body {
      padding: 1.5rem 2.06rem 2.19rem;

      .card-title {
        font-weight: bold;
        font-size: 1.31rem;
        line-height: 2rem;
      }

      .card-text {
        font-weight: 300;
        font-size: 1rem;
        line-height: 1.75rem;
        margin-bottom: 1.56rem;
      }

      .more-article {
        font-weight: 600;
        font-size: 1.06rem;
        line-height: 1.75rem;
      }

      .card-link {
        &:hover {

          svg {
            path {
              fill: #1362cd;
            }
          }

        }

      }

    }
  }
}

footer {
  background: linear-gradient(180.92deg, #67C3F3 -8.57%, #5A98F2 82.96%);
  z-index: 3;

  .spot-footer-bottom-bg {
    bottom: 0;
    left: 0;
    z-index: 4;
  }

  .block-footer {
    color: $white;
    padding-top: 5.81rem;
    padding-bottom: 6.81rem;

    .about-company {
      margin-top: 0.56rem;

      .logo-footer {
        font-weight: bold;
        font-size: 1.5rem;
        line-height: 1.875rem;
        margin-bottom: 1.06rem;
        display: flex;
        align-items: center;
      }

      .description-company-footer {
        line-height: 1.75rem;
        font-weight: 300;
        font-size: 1.125rem;
        margin-bottom: 1.94rem;
        max-width: 391px;
      }

      .copyright-text {
        font-weight: 300;
        font-size: 1rem;
        line-height: 1.75rem;
      }
    }

    .block-links {
      flex-basis: 60%;
      justify-content: space-around;

      .title-block {
        font-weight: bold;
        font-size: 1.25rem;
        line-height: 3.75rem;

      }

      .links-block {
        font-weight: 300;
        font-size: 18px;
        line-height: 38px;

        .card-link {
          color: $white;
        }
      }
    }
  }
}
@media (max-width: 1199.98px) {

}
@media (max-width: 991.98px) {
  .spot-image {
    display: none;
  }
  .spot-articles-bg {
    display: none;
  }
  .consulting-today .consult-block {
    padding-top: 3rem;
  }
  .providers-learn {
    margin-bottom: 6rem;
  }
  .providers-learn .info  {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1rem;
    margin-bottom: 4.2rem;
  }
  .consulting-today {
    margin-bottom: 6rem;
  }
  .btn-view-more-services {
    margin-bottom: 6rem;
    /*margin-left: 15px;*/
    .btn-more.btn-more-small {
      padding-left: 4.125rem;
      padding-right: 4.125rem;
    }
  }
  .download-app {
    margin-bottom: 6rem;
  }
  .download-app .block-text-download {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0;
  }
  .customer .slider-navigation-container {
    margin-bottom: 6rem;
  }
  .comment {
    flex-direction: column;
  }
  footer {
    .block-footer {
      flex-direction: column;
      align-items: normal;
      .about-company {
        margin-bottom: 4.5rem;
      }
    }
  }
  .image-providers {
    justify-items: center;
    order: 2;
    margin-bottom: 6rem;
  }
  .center-vertical-picture {
    align-items: center;
  }
  .card-area {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
  }
}
@media (max-width: 767.98px) {

  .title-providers-block {
    text-align: center;
  }
  .providers-learn .info .line {
    margin-left: auto;
    margin-right: auto;
  }
  .block-text-download .title-download-block {
    margin-left: auto;
    margin-right: auto;
  }
  .block-text-download .line {
    margin-left: auto;
    margin-right: auto;
  }
  .customer .area-customer-say {
    padding: 1.5rem 2.5rem;
    .line {
      margin-bottom: 1.5rem;
    }
  }
  .comment .card-person {
    flex-direction: column;
    margin-bottom: 2rem;
    .foto {
      margin-right: 0;
      margin-bottom: 1.5rem;
    }
  }
  .container {
     .card-area {
       margin-bottom: 3rem;
     }
  }
  .customer .area-customer-say .circle-right-customer {
    right: 0;
    top: 0;
  }
}
@media (max-width: 575.98px) {
  .swiper-pagination {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
  }
  .image-providers {
    margin-bottom: 0;
    padding-bottom: 1rem;
  }
  .consulting-today .image-consulting-block {
    padding-top: 0;
    padding-left: 0;

  }
  .consulting-today .consult-block {
    margin-bottom: 4.2rem;
  }
  .services {
    margin-bottom: 0;
  }
  .card-area .card-body {
    padding-bottom: 1.5rem;
  }
  footer {
    .block-footer {
      padding: 5rem 1rem 5.5rem;
      .block-links {
        flex-direction: column;
      }
    }
    .title-block {
      text-align: center;
    }
  }

}
/*
@media (max-width: 576px) {
  !*.providers-learn .info {
    padding-left: 0;
     padding-right: 0;

  }*!
  .services .description-services {
    margin-left: 0;
    margin-right: 0;
  }


}
*/



