body {
  position: relative;
}

.spot-services {
  top: 57.19rem;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  background-image: url("../image_project/spot-services.svg");
  background-repeat: no-repeat;
}

.spot-articles {
  width: 49rem;
  height: 36rem;
  background-position: center right;
  right: 0;
  top: 285rem;
  z-index: -1;
  background-image: url("../image_project/spot-articles.svg");
  background-repeat: no-repeat;
}

.spot-footer-top-bg {
  right: 4.375rem;
  z-index: 2;
  bottom: 23.125rem;
}

.main-container-page {
  padding-top: 3.125rem;
  max-width: 1270px;
}

.line {
  width: 3.5rem;
  height: 0.125rem;
  background: #000000;
  border-radius: 5px;
}

h2 {
  font-weight: bold;
  font-size: 3rem;
  line-height: 3.5rem;
}

h3 {
  font-size: 2.25rem;
  line-height: 3.5rem;
  font-weight: bold;
}

.btn {
  white-space: nowrap;
  padding: 0.5rem 2.5rem;
}

.btn-more {
  padding-left: 3.125rem;
  padding-right: 3.125rem;
}

.card {
  max-width: 21.875rem;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0);
  margin: 1rem;
}

.card-body {
  padding: 2.55rem 2.2rem 2.91rem
}

header {
  max-width: 78.75rem;

  .navbar {
    .navbar-brand {
      font-weight: bold;
      line-height: 2.875rem;
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  .navbar-nav {
    .nav-item {
      &:not(:last-of-type) {
        margin-right: 1.55rem;
      }
    }

    .active > .nav-link {
      font-weight: bold;
    }
  }
}

.consulting-today {
  margin-bottom: 12.1rem;
  position: relative;
  max-width: 79.375rem;

  .consult-block {
    padding-top: 10.7rem;

    h2 {
      margin-bottom: 1.56rem;
    }

    .text-consult-block {
      margin-bottom: 3rem;
      font-size: 1.31rem;
      line-height: 2rem;
      font-weight: 300;
    }
  }

  .circle-image {
    left: -10.81rem;
    top: 3.125rem;
    width: 5.125rem;
    height: 7.1875rem;
    background-image: url("../image_project/circular-element.svg");
    background-repeat: no-repeat;
  }

  .image-consulting-block {
    padding-top: 4.2rem;
    padding-left: 3.5rem;
  }
}

.services {
  margin-bottom: 5rem;

  .name-section {
    margin-bottom: 1.5rem;
  }

  .line-section {
    margin-bottom: 2.06rem;
    padding-left: 0.95rem;
  }

  .description-services {
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.875rem;
    padding: 0 8rem;
    text-align: center;
  }
}

.container-cards-services {
  margin-bottom: 2.1rem;
  position: relative;

  .circle-image-services {
    right: 0.9rem;
    top: 22.65rem;
    width: 8.25rem;
    height: 7.19rem;
    background-image: url("../image_project/circular-element-services.svg");
    background-repeat: no-repeat;
  }

  .card-area {
    margin-bottom: 2.5rem;
    display: flex;
    justify-content: center;

    .card-body {
      padding-top: 0.25rem;
    }
  }

  .container-image-card {
    padding-top: 1.3rem;
    $container-image-height: 10.938rem;
    flex-basis: $container-image-height;
    min-height: $container-image-height;
    max-height: $container-image-height;
    padding-left: 2.2rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .search-image {
      max-height: 5.625rem;
    }
  }

  .consultation-image {
    max-height: 5.9375rem;
    /*max-width: 4.25rem;*/

  }

  .pharmacy-image {
    max-height: 5.3125rem;
  }

  .info-image {
    max-height: 5.9375rem;
  }

  .care-image {
    max-height: 4.5rem;
  }

  .tracking-image {
    max-height: 5.9375rem;
  }

  .card-title {
    font-weight: bold;
    font-size: 1.5rem;
  }

  .card-text {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.75rem;
  }
}

.btn-view-more-services {
  margin-bottom: 13.75rem;

  .btn-more.btn-more-small {
    padding-left: 4.125rem;
    padding-right: 4.125rem;
  }
}

.providers-learn {
  margin-bottom: 10rem;

  .image-providers {
    max-width: 40.625rem;
  }

  .info {
    padding-left: 9.8rem;
    padding-right: 4.5rem;
    padding-top: 3.6875rem;

    .title-providers-block {
      margin-bottom: 1.6rem;
      font-size: 2.25rem;
      line-height: 3.5rem;
      font-weight: bold;
    }

    .line {
      border-radius: 0.625rem;
      margin-bottom: 2rem;
    }

    .text-providers-block {
      font-weight: 300;
      line-height: 1.87rem;
      margin-bottom: 2.65rem;
    }
  }
}

.download-app {
  margin-bottom: 16.5rem;

  .block-text-download {
    padding-left: 7.62rem;
    padding-right: 4rem;
    padding-top: 6.7rem;

    .title-download-block {
      font-weight: bold;
      font-size: 2.25rem;
      margin-bottom: 1.87rem;
      line-height: 3rem;
    }

    .line {
      margin-bottom: 1.87rem;
      border-radius: 0.375rem;
    }

    .text-download-block {
      font-weight: 300;
      line-height: 1.875rem;
      margin-bottom: 2.65rem;
    }

    .block-text-download {
      padding-left: 7.62rem;
      padding-right: 4rem;
      padding-top: 5rem;
    }

    .btn-download-app {
      &:hover {
        .arrow-download {
          path {
            fill: $white;
          }
        }
      }
    }
  }

  .block-image-project-download {
    max-width: 41.56rem;
    padding-top: 4.44rem;
  }
}

.customer {
  position: relative;

  .area-customer-say {
    padding: 4rem 7.3rem 4.5rem;
    margin-bottom: 2.625rem;
    position: relative;
    background: linear-gradient(191.49deg, #67C3F3 9.05%, #5A98F2 76.74%);
    border-radius: 1.5rem;
    max-width: 69.69rem;
    z-index: 2;
    margin-left: auto;
    margin-right: auto;

    .circle-right-customer {
      right: 1rem;
      top: 1rem;
    }

    .text-question-block-customer {
      font-weight: bold;
      font-size: 2.25rem;
      line-height: 3rem;
      color: $white;
      margin-bottom: 1.56rem;
      text-align: center;
    }

    .line {
      background: $white;
      border-radius: 0.375rem;
      margin-bottom: 4.2rem;
    }
  }

  .circle-right-customer {
    background-image: url("../image_project/circle-customer-right.svg");
    background-repeat: no-repeat;
    width: 8.25rem;
    height: 7.19rem;
  }

  .circle-left-customer {
    left: 5px;
    bottom: 6.94rem;
    z-index: 1;
    background-repeat: no-repeat;
    background-image: url("../image_project/circle-customer-left.svg");
    width: 8.25rem;
    height: 7.19rem;
  }
}

.comment {
  padding: 1rem;

  .card-person {
    flex-basis: 50%;
    align-items: center;

    .foto-person {
      margin-right: 2rem;
      width: 8.31rem;
      height: 8.31rem;
      border-radius: 50%;

      .foto-user-comment {
        border: .25rem solid white;
        box-sizing: border-box;
        border-radius: 50%;
      }
    }

    .person-info {
      flex-direction: column;

      .name-person {
        font-weight: bold;
        font-size: 1.375rem;
        color: $white;
      }

      .name-profession {
        font-weight: normal;
        font-size: 1.125rem;
        color: rgba(255, 255, 255, 0.85);
      }
    }
  }

  .person-comment {
    flex-basis: 50%;
    font-weight: normal;
    font-size: 1.1875rem;
    line-height: 1.875rem;
    color: rgba(255, 255, 255, 0.9);
    padding-top: 0.5rem;

  }
}

.section-articles {
  .name-section {
    font-size: 2.25rem;
    margin-bottom: 1.8rem;
    line-height: 3rem;
  }

  .line-section {
    margin-bottom: 4.93rem;
  }
}

.container-articles {
  margin-bottom: 4.5rem;
  position: relative;

  .circle-image {
    top: -3.125rem;
    left: -2.06rem;
  }

  .card {
    .container-image-card {
      border-radius: 1.25rem 1.25rem 0 0;
    }

    .card-body {
      padding: 1.5rem 2.06rem 2.19rem;

      .card-title {
        font-weight: bold;
        font-size: 1.31rem;
        line-height: 2rem;
      }

      .card-text {
        font-weight: 300;
        font-size: 1rem;
        line-height: 1.75rem;
        margin-bottom: 1.56rem;
      }

      .more-article {
        font-weight: 600;
        font-size: 1.06rem;
        line-height: 1.75rem;
      }

      .card-link {
        &:hover {
          svg {
            path {
              fill: #1362cd;
            }
          }
        }
      }
    }
  }
}

footer {
  background: linear-gradient(180.92deg, #67C3F3 -8.57%, #5A98F2 82.96%);
  z-index: 3;

  .spot-footer-bottom-bg {
    bottom: 0;
    left: 0;
    z-index: 4;
    background-image: url("../image_project/circle-customer-left.svg");
    background-repeat: no-repeat;
    width: 8.25rem;
    height: 7.19rem;
  }

  .block-footer {
    color: $white;
    padding-top: 5.81rem;
    padding-bottom: 6.81rem;

    .about-company {
      margin-top: 0.56rem;

      .logo-footer {
        font-weight: bold;
        font-size: 1.5rem;
        line-height: 1.875rem;
        margin-bottom: 1.06rem;
        display: flex;
        align-items: center;
      }

      .description-company-footer {
        line-height: 1.75rem;
        font-weight: 300;
        font-size: 1.125rem;
        margin-bottom: 1.94rem;
        max-width: 24.44rem;
      }

      .copyright-text {
        font-weight: 300;
        font-size: 1rem;
        line-height: 1.75rem;
      }
    }

    .block-links {
      flex-basis: 60%;
      justify-content: space-around;

      .title-block {
        font-weight: bold;
        font-size: 1.25rem;
        line-height: 3.75rem;
      }

      .links-block {
        font-weight: 300;
        font-size: 1.125rem;
        line-height: 2.375rem;

        .card-link {
          color: $white;
          transition: color 300ms;

          &:hover {
            color: #1362cd;
          }
        }
      }
    }
  }
}

@media (max-width: 1199.98px) {
  .consulting-today .circle-image.position-absolute {
    left: 14rem;
  }
}

@media (max-width: 991.98px) {
  .container-articles .circle-image {
    left: 0;
  }
  .consulting-today .consult-block {
    padding-top: 3rem;
  }
  .providers-learn {
    margin-bottom: 6rem;
  }
  .providers-learn .info {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1rem;
    margin-bottom: 4.2rem;
  }
  .consulting-today {
    margin-bottom: 6rem;
  }
  .btn-view-more-services {
    margin-bottom: 6rem;

    .btn-more.btn-more-small {
      padding-left: 4.125rem;
      padding-right: 4.125rem;
    }
  }
  .download-app {
    margin-bottom: 6rem;
  }
  .download-app .block-text-download {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0;
  }
  .customer .slider-navigation-container {
    margin-bottom: 6rem;
  }
  .comment {
    flex-direction: column;
  }
  footer {
    .block-footer {
      flex-direction: column;
      align-items: normal;

      .about-company {
        margin-bottom: 4.5rem;
      }
    }
  }
  .image-providers {
    justify-items: center;
    margin-bottom: 6rem;
  }
  .center-vertical-picture {
    align-items: center;
  }
  .card-area {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
  }
}

@media (max-width: 767.98px) {
  .spot-articles {
    top: 450rem;
  }
  .image-providers {
    order: 2;
  }
  .services .description-services {
    padding-left: 0;
    padding-right: 0;
  }

  .title-providers-block {
    text-align: center;
  }
  .providers-learn .info .line {
    margin-left: auto;
    margin-right: auto;
  }
  .block-text-download .title-download-block {
    margin-left: auto;
    margin-right: auto;
  }
  .block-text-download .line {
    margin-left: auto;
    margin-right: auto;
  }
  .customer .area-customer-say {
    padding: 1.5rem 2.5rem;

    .line {
      margin-bottom: 1.5rem;
    }
  }
  .comment .card-person {
    flex-direction: column;
    margin-bottom: 2rem;

    .foto-person {
      margin-right: 0;
      margin-bottom: 1.5rem;
    }
  }
  .container {
    .card-area {
      margin-bottom: 3rem;
    }
  }
  .customer .area-customer-say .circle-right-customer {
    right: 0;
    top: 0;
  }
}

@media (max-width: 575.98px) {
  .spot-articles {
    top: 485rem;
  }
  .swiper-pagination {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
  }
  .image-providers {
    margin-bottom: 0;
    padding-bottom: 1rem;
  }
  .consulting-today .image-consulting-block {
    padding-top: 0;
    padding-left: 0;

  }
  .consulting-today .consult-block {
    margin-bottom: 4.2rem;
  }
  .services {
    margin-bottom: 0;
  }
  .card-area .card-body {
    padding-bottom: 1.5rem;
  }
  footer {
    .block-footer {
      padding: 5rem 1rem 5.5rem;

      .block-links {
        flex-direction: column;
      }
    }

    .title-block {
      text-align: center;
    }
  }
}




