body {
  position: relative;
}
.spot-image {
  top: 915px;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}
.spot-articles-bg {
  right: 0;
  top: 4225px;

}
.spot-footer-top-bg {

  right: 70px;
  z-index: 2;
  bottom: 380px;

}

.line {
  width: 56px;
  height: 2px;
  background: #000000;
  border-radius: 5px;
}
h2 {
  font-weight: bold;
  font-size: 3rem;
  line-height: 3.5rem;

}

.btn {
  white-space: nowrap;
}
.card {
  max-width: 350px;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0);
}
header {
  .navbar {
    .navbar-brand {
      font-weight: bold;
    }
  }
  .navbar-nav {
    .nav-item {
      &:not(:last-of-type) {
        margin-right: 1.5rem;
      }
    }
    .active > .nav-link {
      font-weight: bold;
    }
    }


}
.consulting-today {
  margin-top: 5rem;
  margin-bottom: 12rem;
  position: relative;
  .consult-block {
    h2 {
      margin-bottom: 1.56rem;

    }
    .text-consult-block {
      margin-bottom: 3rem;
      font-size: 1.31rem;
      line-height: 2rem;
      font-weight: 300;
    }
  }

  .circle-image.position-absolute {
    left: -164px;
  }
}
.services {
  max-width: 950px;
  margin-bottom: 5rem;
  .name-section {
    margin-bottom: 1.625rem;
  }
  .line-section {
    margin-bottom: 2.06rem;

  }
}
.container-cards-services {
  margin-bottom: 5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  position: relative;
  .circle-image-services {
    right: 10px;
    top: 265px;
  }

  .card-area {
    margin-bottom: 2.3rem;
  }
  .circle-image-services img {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .container-image-card {
    flex-basis: 140px;
    min-height: 140px;
    max-height: 140px;
    padding-left: 2.43rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .card {
    .search-image {
      height: 90px;
      width: 92px;
    }
    .pharmacy-image {
      height: 85px;
      width: 62px;
    }
    .consultation-image {
      height: 95px;
      width: 68px;
    }
    .info-image {
      height: 95px;
      width: 68px;
    }
    .care-image {
      width: 80px;
      height: 72px;
    }
    .tracking-image {
      width: 70px;
      height: 95px;

    }
    .card-title {
      font-weight: bold;
      font-size: 1.5rem;
    }
    .card-text {
      font-size: 1rem;
      font-weight: 300;
      line-height: 1.75rem;
    }
  }
}
.btn-view-more-services {
  margin-bottom: 13.75rem;
}
.providers-learn {
  margin-bottom: 10rem;
  img.position-absolute.circle-img-after-providers {
    right: -100px;
    bottom: -50px;
  }
.info {
  padding-left: 7.62rem;
  padding-right: 4.5rem;
  .title-providers-block{
    margin-bottom: 1.625rem;
    font-size: 2.25rem;
    line-height: 3.5rem;
    font-weight: bold;
  }
  .line {
    border-radius: 0.625rem;
    margin-bottom: 1.94rem;
  }
  .text-providers-block {
    font-weight: 300;
    line-height: 1.87rem;
    margin-bottom: 2.31rem;
  }
}

}
.download-app {
  margin-bottom: 15rem;
  .block-text-download {
    padding-left: 7.62rem;
    padding-right: 4rem;
    .title-download-block {
      font-weight: bold;
      font-size: 2.25rem;
      margin-bottom: 1.87rem;
    }
    .line {
      margin-bottom: 1.87rem;
      border-radius: 6px;
    }
    .text-download-block {
      font-weight: 300;
      line-height: 1.87rem;
      margin-bottom: 2.5rem;
    }
    .btn-download-app{
      &:hover {
        .arrow-download {
          path {
            fill: $white;
          }
        }
      }
    }
  }
}
.customer {
  margin-bottom: 13.5rem;
  position: relative;
  .area-customer-say {
    padding: 4rem 7.3rem 5.56rem;
    position: relative;
    background: linear-gradient(191.49deg, #67C3F3 9.05%, #5A98F2 76.74%);
    border-radius: 1.5rem;
    max-width: 1120px;
    z-index: 2;
    .circle-right-customer {
      right: -48px;
      top: -15px;
    }

    .text-question-block-customer {
      font-weight: bold;
      font-size: 2.25rem;
      line-height: 3rem;
      color: $white;
      margin-bottom: 1.56rem;
      text-align: center;
    }
    .line {
      background: $white;
      border-radius: 6px;
      margin-bottom: 4.8rem;
    }
  }
  .circle-left-customer {
    left: -48px;
    bottom: 34px;
    z-index: 1;
  }
}
.comment {
  .card-person {
    flex-basis: 50%;
    align-items: center;
    .foto {
      margin-right: 2rem;
    }
    .person-info {
      flex-direction: column;
      .name-person {
        font-weight: bold;
        font-size: 1.375rem;
        line-height: 3rem;
        color: $white;
      }
      .name-profession {
        font-weight: normal;
        font-size: 1.125rem;
        line-height: 3rem;
        color: rgba(255, 255, 255, 0.85);
      }

    }

  }
  .person-comment {
    flex-basis: 50%;
    font-weight: normal;
    font-size: 1.1875rem;
    line-height: 1.875rem;
    color: rgba(255, 255, 255, 0.9);

  }
}
.section-articles {
  .name-section {
    font-size: 2.25rem;
  }
  .line-section {
    margin-bottom: 4.93rem;
  }

}
.container-articles {
  margin-bottom: 4.31rem;
  position: relative;
  .circle-image {
    top: -50px;
    left: -33px;
  }
  .card {
    .container-image-card {
      border-radius: 20px 20px 0 0;
    }
    .card-body {
      padding: 1.5rem 2.06rem 2.19rem;
      .card-title {
        font-weight: bold;
        font-size: 1.31rem;
        line-height: 2rem;
      }
      .card-text {
        font-weight: 300;
        font-size: 1rem;
        line-height: 1.75rem;
      }
      .more-article {
        font-weight: 600;
        font-size: 1.06rem;
        line-height: 1.75rem;
      }
      .card-link {
        &:hover {

          svg {
              path{
                fill: #1362cd;
              }
            }

        }

      }

    }
  }
}
footer {
  background: linear-gradient(180.92deg, #67C3F3 -8.57%, #5A98F2 82.96%);
  z-index: 3;
  .spot-footer-bottom-bg {
    bottom: 0;
    left: 0;
    z-index: 4;
  }

.block-footer {
  color: $white;
  padding-top: 6.81rem;
  padding-bottom: 6.81rem;
  .about-company {
    margin-top: 0.56rem;
    .logo-footer {
      font-weight: bold;
      font-size: 1.5rem;
      line-height: 1.875rem;
      margin-bottom: 1.06rem;
    }
    .description-company-footer {
      line-height: 1.75rem;
      font-weight: 300;
      font-size: 1.125rem;
      margin-bottom: 1.94rem;
      max-width: 391px;
    }
    .copyright-text {
      font-weight: 300;
      font-size: 1rem;
      line-height: 1.75rem;
    }
  }

  .block-links {
    flex-basis: 60%;
    justify-content: space-around;

    .title-block {
      font-weight: bold;
      font-size: 1.25rem;
      line-height: 3.75rem;

    }
    .links-block {
      font-weight: 300;
      font-size: 18px;
      line-height: 38px;

      .card-link {
        color: $white;
      }
    }
  }
}
}



@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1270px;
  }
}


