$navbar-brand-font-size: 1.5rem;
$navbar-light-brand-color: #233348;


$primary: #458FF6;
$border-radius: 3.44rem;
$input-btn-padding-y: .5rem;
$input-btn-padding-x:  2.828rem;
$font-family-base: Muli, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-size-base: 1.125rem;

$btn-font-weight:  bold;
$btn-line-height: 2.4rem;
$body-color: #7D7987;
$headings-color: #000000;
$card-border-radius: 1.25rem;
$card-spacer-x:  1.25rem 2.43rem 2.91rem;
$link-color: #4089ED;