$navbar-brand-font-size: 1.5rem;
$navbar-light-brand-color: #233348;

/*
$navbar-light-color: rgba(31, 21, 52, 0.5);
$navbar-light-active-color:  rgb(31, 21, 52);*/

$primary: #458FF6;
$border-radius: 3.44rem;
$input-btn-padding-y: .5rem;
$input-btn-padding-x:  2.828rem;
$font-family-base: 'Muli';
$font-size-base: 1.125rem;

$btn-font-weight:  bold;
$btn-line-height: 2.4rem;
$body-color: #7D7987;
$headings-color: #000000;
$card-border-radius: 1.25rem;
$card-spacer-x:  1.25rem 2.43rem 2.91rem;